<div class="container-form">

<h2>Adicionar aos Favoritos</h2>

<%= form_for @add_favorite, url: new_favorite_path  do |f| %>
	
  <div class="field">
  	<h4 style="color: red;">Atenção! Cada imagem adicionada aos favoritos lhe custará 1 estrela</h4>
  </div>

  <div class="field" style="display: none;">
    <%= f.text_field :user_id %>
  </div>

  <div class="field">
    <%= image_tag @image.picture.url, style: "width: 100%;" %>
  </div>

  <div class="actions">
    <%= f.submit "Favoritar", class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %>
  </div>
<% end %>

</div>
