<p>Olá <%= @resource.email %>!</p>

<p>Alguém pediu um link para alterar sua senha. Você pode fazer isso através do link abaixo.</p>

<p><%= link_to 'Mudar a minha senha', edit_password_url(@resource, reset_password_token: @token), class: "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" %></p>

<p>Se você não solicitou este serviço, por favor ignore este e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link a cima e altere.</p>
